body{
  background-color: rgb(0,0,0);
  text-align:center;
  color:rgb(255,255,255);
  font-family:courier;
  font-size:100%;
}
a{
  text-decoration:none;
}
p.dllink{
  text-decoration:none;
  margin-top:-2px;
  color:rgb(255,255,255);
}
p.dllink:hover{
  color:rgb(255,0,135);
}
.body{
  margin:0 auto;
  width:90%;
}
.mainheader p{
  color:rgb(255,255,255);
  text-align:center;
  font-family:courier;
  margin:5% 0;
  animation-duration:500ms;
  animation-name:flashing;
  animation-iteration-count: infinite;
}
@keyframes flashing {
  0% {
    color:rgb(255,255,255);
  }
  49.99% {
    color:rgb(255,255,255);
  }
  50% {
    color:rgb(255,0,135);
  }
  99.99% {
    color:rgb(255,0,135);
  }
  100% {
    color:rgb(255,255,255);
  }
}
.mainContent{
  overflow:hidden;
}
.content{
  float:center;
}
.content img{
  max-width:40%;
  width:100%;
  height:auto;
}
@media only screen and (min-width:150px) and (max-width:950px){
  .mainheader{
    font-size:3.8vw;
  }
  .body{
    max-width:90%;
  }
  .content img{
    max-width:95%;
  }
}
